:root {
    --color-principal: #c8f1fc;
    --color-secundario: #076e8b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-principal);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--color-secundario);
}

header{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-items: center;
}
.imagen{
    width: 15vw;
    height: 30vh;
    margin: 20px;
}

body, main {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
}

nav{
  width: 20vw;
  height: 100vh;
}

nav, nav>ul, nav>ul>li, header, div, h1, h2, a{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 10px;
}

ul{
    list-style: none;
}

section>p, section>ul{
    margin-top: 20px;
}

section {
  width: 80vw;
  padding: 20px;
}

a {
  text-decoration: none;

}

footer {
    text-align: center;
    justify-content: center;
}
