:root {
  --color-principal: #cdf0fa;
  --color-secundario: #076e8b;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--color-principal);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--color-secundario);
}

header {
  width: 100vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-items: center;
}

.imagen {
  width: 15vw;
  height: 30vh;
  margin: 20px;
}

img {
  border-radius: 90px;
  box-shadow: 5px 2px 5px 3px rgba(0, 0, 0, 0.384);
  height: 155px;
  width: 155px;
}

body,
main {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
}

nav {
  width: 20vw;
  height: 100vh;
}

nav,
nav>ul,
nav>ul>li,
header,
header>div,
h1,
h2,
a {
  background-color: var(--color-secundario);
  color: var(--color-principal);
  padding: 10px;
}

h3{
font-size: 30px;
}

nav>ul,
section>ul {
  list-style: none;
}

section>ul {
  margin-top: 20px;
}

section>ul>li>p {
  font-size: 15px;
}

section>ul>li {
  margin: 20px;
  font-size: 20px;
}

table{
  margin-top: 40px;
  text-align: center;
  width: 50vw; 
}

td, th {
  width: 50vw; 
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  border: 2px solid var(--color-secundario);
}

section>ul>li>ul>li {
  margin-top: 5px;
  margin-left: 50px;
  font-size: 15px;
}



section {
  width: 80vw;
  padding: 30px;
}

a {
  text-decoration: none;

}

footer {
  text-align: center;
  justify-content: center;
}